<div id="home-dialogue">
  <div id="banner-copy">
    <h1 id="headline">Pushy</h1>
    <h5 id="cover-copy">Your simple private chat room</h5>
  </div><!-- end of #banner-copy -->
  <div id="login-dialogue">
    <div id="login-button">
      <a href="twitter/auth" id="twitter-login">
        <%= image_tag "login_twitter.png"%>
      </a>
    </div><!-- end of #login-button-->
  </div><!-- end of #login-dialogue-->
</div><!-- end of #home-dialogue-->